<!doctype html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Multi step progress</title>

    <link type="text/css" rel="stylesheet" href="demo/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="demo/css/demo.css">
    <link type="text/css" rel="stylesheet" href="src/multi-step-progress.css">

    <script type="text/javascript" src="demo/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="demo/js/angular.js"></script>
    <script type="text/javascript" src="src/multi-step-progress.js"></script>
    <script type="text/javascript" src="demo/js/app.js"></script>
</head>
<body ng-controller="MainController">
    <div class="container">
        <h1>Multi step progress</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Progress</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum doler sit amet</td>
                    <td><div multi-step-progress steps="steps" progress-values="progressValues1"></div></td>
                    <td><button class="btn btn-primary" ng-click="start(progressValues1)">Start</button></td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum doler sit amet</td>
                    <td>
                        <div multi-step-progress steps="steps" progress-values="progressValues2"></div>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="start(progressValues2)">Start</button>
                    </td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum doler sit amet</td>
                    <td>
                        <div multi-step-progress steps="steps" progress-values="progressValues3"></div>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="start(progressValues3)">Start</button>
                    </td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum doler sit amet</td>
                    <td>
                        <div multi-step-progress steps="steps" progress-values="progressValues4"></div>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="start(progressValues4)">Start</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>