.multi-step-progress {
    .progress-strip {
        height: 25px;
        background: #f2f2f2;
        border: 1px solid #f2f2f2;
        color: #515151;
        font-size: 11px;
        position: relative;

        .progress-bg, .progress-status, .progress-label {
            position: absolute;
            top: 0;
            bottom: 0;
            line-height: 23px;
        }
        .progress-bg {
            left: 0;
            background: #9acc99;
        }
        .progress-label {
            left: 8px;
        }
        .progress-status {
            right: 8px;
        }
        & + .progress-strip {
            margin-top: 6px;
        }
        &.in-progress {
            background: #dff0e0;
            border-color: #dff0e0;
        }
        &.done {
            color: #fff;
            border-color: #9acc99;
            .progress-bg {
                background: #9acc99;
            }
        }
    }
}